FDA_DRUG_HERB/Web References/SW_HERB_PAYMENT/SW_HERB_PAYMENT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HERB_PAYMENT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_IDA" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_PROCESS_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_REF01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_REF02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HERB_PAYMENTResponse">
        <s:complexType />
      </s:element>
      <s:element name="INSERT_HERB_PAYMENT_CENTER_L44">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_IDENTIFY" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_IDA" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_PROCESS_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_HERB_PAYMENT_CENTER_L44Response">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HERB_PAYMENTSoapIn">
    <wsdl:part name="parameters" element="tns:HERB_PAYMENT" />
  </wsdl:message>
  <wsdl:message name="HERB_PAYMENTSoapOut">
    <wsdl:part name="parameters" element="tns:HERB_PAYMENTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_HERB_PAYMENT_CENTER_L44SoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_HERB_PAYMENT_CENTER_L44" />
  </wsdl:message>
  <wsdl:message name="INSERT_HERB_PAYMENT_CENTER_L44SoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_HERB_PAYMENT_CENTER_L44Response" />
  </wsdl:message>
  <wsdl:portType name="SW_LCN_EDIT_PAYMENTSoap">
    <wsdl:operation name="HERB_PAYMENT">
      <wsdl:input message="tns:HERB_PAYMENTSoapIn" />
      <wsdl:output message="tns:HERB_PAYMENTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_HERB_PAYMENT_CENTER_L44">
      <wsdl:input message="tns:INSERT_HERB_PAYMENT_CENTER_L44SoapIn" />
      <wsdl:output message="tns:INSERT_HERB_PAYMENT_CENTER_L44SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SW_LCN_EDIT_PAYMENTSoap" type="tns:SW_LCN_EDIT_PAYMENTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HERB_PAYMENT">
      <soap:operation soapAction="http://tempuri.org/HERB_PAYMENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_HERB_PAYMENT_CENTER_L44">
      <soap:operation soapAction="http://tempuri.org/INSERT_HERB_PAYMENT_CENTER_L44" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SW_LCN_EDIT_PAYMENTSoap12" type="tns:SW_LCN_EDIT_PAYMENTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HERB_PAYMENT">
      <soap12:operation soapAction="http://tempuri.org/HERB_PAYMENT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_HERB_PAYMENT_CENTER_L44">
      <soap12:operation soapAction="http://tempuri.org/INSERT_HERB_PAYMENT_CENTER_L44" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SW_LCN_EDIT_PAYMENT">
    <wsdl:port name="SW_LCN_EDIT_PAYMENTSoap" binding="tns:SW_LCN_EDIT_PAYMENTSoap">
      <soap:address location="https://meshlog.fda.moph.go.th/FDA_HERB_SW/SW_HERB_PAYMENT.asmx" />
    </wsdl:port>
    <wsdl:port name="SW_LCN_EDIT_PAYMENTSoap12" binding="tns:SW_LCN_EDIT_PAYMENTSoap12">
      <soap12:address location="https://meshlog.fda.moph.go.th/FDA_HERB_SW/SW_HERB_PAYMENT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>